body {
  margin: 24px 156px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  max-width: 1128px;
  margin: 0;
  padding: 0;

  gap: 24px;
}

.gallery img {
  display: block;
  width: 100%;
  height: auto;
}

.gallery li {
  width: calc((100% - 48px) / 3);
}

.back-link {
  align-self: flex-start;
}
